html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#container {
    height: 75%;
    margin: 50px;
    top: 50px;
    border-bottom: black 10px solid;
    position: relative;
}

#ball{
    border-radius: 50%;
    border-color: black;
    background-color: #4d5d53;
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    height: 200px;
    width: 200px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -20px -20px 20px black inset;
}

@keyframes colors {
    0% {
        top: 0; transform: translate(-50%, 0);
        animation-timing-function: ease-in;
    }
    45% {
        top: 100%; transform: translate(-50%, -100%);
        height: 200px;
        width: 200px;
        animation-timing-function: ease-out;
    }
    50% {
        height: 50px;
        width: 300px;
        animation-timing-function: ease-out;
    }
    55% {
        top: 100%; transform: translate(-50%, -100%);
        height: 200px;
        width: 200px;
        animation-timing-function: ease-out;
    }
    57% {
        top: 100%; transform: translate(-50%, -100%);
        animation-timing-function: ease-out;
    }
    60% {
        height: 300px;
        width: 100px;
        animation-timing-function: ease-out;
    }
    70% {
        height: 200px;
        width: 200px;
        animation-timing-function: ease-out;
    }
    100% {
        top: 0; transform: translate(-50%, 0);
    }
}
